@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts"
@import "./_icons"

/*variables*/ 
$police : Righteous
/* utile tout le temps*/
body 
    margin: 0!important
    font-family: $police
.cursor
    cursor: pointer
.borderwhite
    border: solid 10px white
button
    outline: none!important
.colbootstrap
    margin: 0!important
    padding: 0!important
hr
    border: solid 1px white
    width: 70%
/* services*/
.servicescards
    background-size: cover
    background-repeat: no-repeat
    background-position: right
    height: 300px
#livingroom
    background-image: url("../img/services/service-1.jpg")
#saleitems
    background-image: url("../img/services/service-2.jpg")
#clothes
    background-image: url("../img/services/slider-3.jpg")
/*banner great products*/
#productsbanner
    background-image: url("../img/cta-bg.jpg")
    background-position: center
    height: 90vh
    border: none
/*carousel*/
#slider
    width: 71%
    #slides
        overflow-y: hidden
        div
            flex-shrink: 0
            width: 300px
            transition: transform 5s
#slides::-webkit-scrollbar
    display: none
/* footer li*/
ul#chevronsfooter
    li 
        list-style: none
        &::before
            content: "\003e  "
/*modal*/
.modal
    z-index: 1
    background-color: rgba(0, 0, 0, 0.4)
.modal-content
    background-color: #fefefe
    margin: auto
    width: 80%
.handmodal
    animation: pointmodal 1s infinite 

@keyframes pointmodal
    0%
        transform: translateY(0)
    50%
        transform: translateY(25%)
    100%
        transform: translateY(0)
// bonus hover recent products
.bonusrecentproducts
    position: absolute
    bottom: 0
    left: 0
    opacity: 0
.bonusrightrecentproducts
    position: absolute
    bottom: 0
    right: 0
    opacity: 0
/*tablets and phones*/
@media (max-width:992px)
    .centershopat
        text-align: center
    #scrollingCarousel
        display: none
    #scrollingCarousel + div
        display: block!important
/*phones*/
@media (max-width:768px)
    #emporium
        h1
            font-size: 20px