@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts"
@import "./_icons"

/*variables*/ 
$police : Righteous

body 
    margin: 0!important
    font-family: $police
button
    outline: none!important
.colbootstrap
    margin: 0!important
    padding: 0!important
#servicecard1
    background-image: url("../img/services/service-1.jpg")
    background-size: cover
    background-position: right
    height: 300px
    border: solid 10px white
#servicecard2
    background-image: url("../img/services/service-2.jpg")
    background-size: cover
    background-position: bottom right
    height: 300px
    border: solid 10px white
#servicecard3
    background-image: url("../img/services/slider-3.jpg")
    background-size: cover
    background-position: right
    height: 300px
    border: solid 10px white
hr
    border: solid 1px white
    width: 70%

@media (max-width:992px)
    .centershopat
        text-align: center
