@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts"
@import "./_icons"

/*variables*/ 
$police : Righteous
/* utile tout le temps*/
body 
    margin: 0!important
    font-family: $police
button
    outline: none!important
.colbootstrap
    margin: 0!important
    padding: 0!important
hr
    border: solid 1px white
    width: 70%
/* services*/
.servicescards
    background-size: cover
    background-repeat: no-repeat
    background-position: right
    height: 300px
    border: solid 10px white
#livingroom
    background-image: url("../img/services/service-1.jpg")
#saleitems
    background-image: url("../img/services/service-2.jpg")
#clothes
    background-image: url("../img/services/slider-3.jpg")
/*banner great products*/
#productsbanner
    background-image: url("../img/cta-bg.jpg")
    background-position: center
    height: 90vh
    border: none
.test
    border: solid 10px white


@media (max-width:992px)
    .centershopat
        text-align: center

